# ID トークン検証 API

```mermaid
%%{init:{'theme':'dark'}}%%
graph TD;
    処理開始 --> WIP:トークン検証
```
