# ID トークン検証 API

```mermaid
%%{init:{'theme':'dark'}}%%
graph TD;
    A(処理開始) --> B[トークン検証]
    B --> C(処理終了)
```
