<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>ログイン</title>
  </head>

  <body>
    <form
      th:action="@{/v1/api/auth/authentication}"
      th:object="${authenticateRequest}"
      method="post"
    >
      ログイン情報を入力してください。<br />
      ユーザ名: <input type="text" th:field="*{username}" /><br />
      パスワード: <input type="password" th:field="*{password}" /><br />
      <input type="submit" value="ログイン" />
    </form>
  </body>
</html>
