<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nob.example.opappproject.mapper.AuthorizationCodeInfoMapper">
    <insert id="insert">
        INSERT INTO
            authorization_code_info (
                code_value
                , code_challenge
                , expiration_date_time
                , is_deleted
            ) 
        VALUES (
            #{codeValue}
            , #{codeChallenge}
            , #{expirationDateTime}
            , #{isDeleted}
        )
    </insert>

    <select id="selectAuthorizationCode" resultType="nob.example.opappproject.entity.AuthorizationCodeInfo">
        SELECT
            code_value
            , code_challenge
        FROM 
            authorization_code_info
        <where>
            is_deleted = 0
            <if test="codeValue != ''">
                AND code_value = #{codeValue}
            </if>
            <if test="nowDate != null">
                AND expiration_date_time <![CDATA[ > ]]> #{nowDate}
            </if>
        </where>
    </select>
</mapper>