<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nob.example.opappproject.mapper.ClientInfoMapper">
    <select id="selectRedirectUri" resultType="nob.example.opappproject.entity.ClientInfo">
        SELECT 
            redirect_uri
        FROM 
            client_info
        <where>
            <if test="clientId != ''">
                client_id = #{clientId}
            </if>
        </where>
    </select>
</mapper>